nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  /* here ul contains by default margin and padding  */
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

h1 {
  text-align: center;
}

nav {
  width: 100%;
}

p {
  text-align: center;
}

.container {
  width: 1320px;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  border: 1px solid red;
}

.BlogItems {
  text-align: center;
  flex-basis: 23%;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px 2px #ccc;
  margin: 1%;
}
